
<perch:blocks>
    <perch:block label="Text" type="text">
    <section>
	    <div class="flow">
		    <perch:content type="textarea" id="text" editor="redactor" lable="Text" html imagewidth="1024" />
	    </div>
    </section>
    </perch:block>
    
    <perch:block label="Social Media" type="socialmedia">
    <section>
	    <div>
		    <p><strong><perch:content type="text" id="heading" label="Heading" /></strong></p>
	    </div>
    </section>
    <section class="background_dark">
	    <div>
		    <ul class="social_media">
			    <perch:repeater id="links" label="Links">
			    <li><a href="<perch:content type="text" label="URL" id="url" />"><i class="<perch:content type="select" id="icon" options="LinkedIn|fab fa-linkedin,Facebook|fab fa-facebook,Twitter|fab fa-twitter" />"></i></a></li>
			    </perch:repeater>
		    </ul>
	    </div>
    </section>
    </perch:block>
    
    <perch:block label="CTA" type="cta">
    <section>
	    <div class="flow padding background_white border_grey shadow">
	    <h2 class="size_700"><perch:content type="text" id="heading" label="Heading" /></h2>
        <p><a class="button" href="<perch:content id="url" label="URL" type="text" />"><perch:content type="text" id="buttontext" label="Button" /></a></p>
	    </div>
    </section>
    </perch:block>
    
    <perch:block label="Card" type="card">
    <section>
	    <div class="card background_white border_grey shadow">
		    <div class="text padding">
			    <div class="flow">
				    <perch:content type="textarea" id="text" label="Text" html editor="redactor" />
			        <perch:if exists="url">
			        <p><a class="button" href="<perch:content id="url" label="URL" type="text" />"><perch:content type="text" id="buttontext" label="Button" /></a></p>
			        </perch:if>
			    </div>
		    </div>
			<img src="<perch:content id="image" label="Image" type="image" width="1200" height="1200" crop="true" />" alt="" />
		    </div>
    </section>
    </perch:block>
    
    <perch:block label="Grid" type="grid">
    <section>
	    <div>
	        <ul class="grid">
		        <perch:repeater id="items" label="Items">
		        <li class="background_white border_grey shadow">
		            <div>
			            <img src="<perch:content id="image" label="Image" type="image" width="600" height="600" crop="true" />" alt="" />
		            </div>
		            <perch:if exists="text">
		            <div class="flow">
			            <perch:content type="textarea" id="text" label="Text" html editor="redactor" />
			            <perch:if exists="url">
			            <p><a class="button" href="<perch:content id="url" label="URL" type="text" />"><perch:content type="text" id="buttontext" label="Button" /></a></p>
			            </perch:if>
		            </div>
		            </perch:if>
		        </li>
		        </perch:repeater>
	        </ul>
	    </div>
    </section>
    </perch:block>

    <perch:block type="contactSection" label="Contact Section">
    <section>
	    <div class="contact">
		    <div class="flow">
		        <h2>Contact Details</h2>
		        <p>
		            <a class="c-contact-details__link" href="tel:+441947899685">01947 899685</a>
		        </p>
		        <p>
		            <a class="c-contact-details__link" href="mailto:whishgroup@gmail.com">whishgroup@gmail.com</a>
		        </p>
		        <p>
		            WHISH<br />
					St. Hildas Hub<br />
					Waterstead Lane<br />
					Whitby<br />
					YO21 1PF<br />
		            United Kingdom
		        </p>
			</div>
			<div class="flow">
		        <h2>
		            Get In Touch
		        </h2>
				<perch:form id="contact" method="post" app="perch_forms" class="c-form">
			        <div class="c-form-section">
			            <div class="c-form-section__inputs">
			                <div class="c-form-input">
			                    <label for="name" class="c-form-input__label">Name</label>
			                    <perch:input type="name" placeholder="Your Name" id="name" class="c-form-input__input">
			                </div>
			                <div class="c-form-input">
			                    <label for="email" class="c-form-input__label">Email</label>
			                    <perch:input type="email" placeholder="Your Email" id="email" autocomplete="email" class="c-form-input__input">
			                </div>
			                <div class="c-form-input">
			                    <label for="message" class="c-form-input__label">Enquiry Type</label>
			                    <perch:input type="select" class="c-form-input__textarea" id="enquirytype" options="Membership,Activity Booking,Sensory Room,Any Other">
			                </div>
			                <div class="c-form-input">
			                    <label for="message" class="c-form-input__label">Message</label>
			                    <perch:input type="textarea" class="c-form-input__textarea" id="message">
			                </div>
			            </div>
			        </div>
			        <perch:input type="submit" id="submit" value="Submit" class="button c-form__button" />
			        <perch:success>
			            <p class="success">
			                <strong><perch:content id="success" type="text" label="Thank you message" /></strong>
			            </p>
			        </perch:success>
				</perch:form>
			</div>
		</div>
	</section>
    </perch:block>
    

</perch:blocks>