*

!assets
!assets/**

# To include a subdirectory (perch/templates/) the parent directory needs 'unignoring'
# first. The first line unignores the perch directory, then the next ignores everything within 
# that directory. The third line then unignores the templates directory, and the following
# unignores the contents of that directory.

!perch 

perch/*

!perch/templates/
!perch/templates/**
!perch/addons/
!perch/addons/**
!perch/addons/apps/
!perch/addons/apps/**

!.gitignore

# Include cPanel GitHub config
!.cpanel.yml

# Include .htaccess
!.htaccess

!src
!src/**