img{
	display:block;
	max-width:100%;
	height:auto;
}

header{
	max-width:1280px;
	margin:0 auto;
	display:block;
	display:grid;
	grid-template-columns:;	
}

header img{
	height:100px;
	width:auto;
}

header .logo{
	display:grid;
	grid-template-columns: 150px auto;
	grid-column-gap: 2rem;
}

header .logo .heading{
	font-weight:700;
	font-size:3rem;
	line-height: 4rem;
	color:#41c9f2;
}

header nav button{
	display:none;
}

header nav{
	
}

header nav ul{
	float:left;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top:2rem;
	border-top:1px solid #f1f2f2;
	padding-top:2rem;
}

header nav ul li{
	position: relative;
}

header nav ul li a{
	color:#063e8a;
}

header nav ul li a:hover{
	color:#41c9f2;
}

header nav ul li ul{
	display:none;
}

header nav ul li:hover ul{
	display:block;
	position:absolute;
	top:80px;
	left:0px;
	width:200px;
	line-height:3rem;
	left:0px;
	text-align: left;
	background:#fff;
	box-shadow: 0px 0px 5px #ccc;
	background-image: linear-gradient(#045f5f, #063e8a);
	border-radius: 3px;
}

header nav ul li .arrow-up{
	display:none;
}

header nav ul li:hover .arrow-up{
	display:block;
	position:absolute;
	bottom:20px;
	left:50%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid #045f5f;
}

header nav ul li ul li{
	margin-left:0px;
	width:100%;
	line-height:1.4rem;
	padding:0.3rem 0.5rem;
	margin:0;
}

header nav ul li ul li a{
	color:#fff;
	font-size:var(--size-400);
	text-decoration: none;
}

footer{
	width:100%;
	margin:0 auto;
	display:block;
	clear:both;
	padding:4rem 2rem;
	border-top:1px solid #fff;
	margin-top:100px;
	float:left;
}

footer div{
	max-width:1280px;
	margin:0 auto;
	display:grid;
}

footer p{
	color:#777;
	font-size:1rem;
}

footer ul{
	float:right;
}

footer ul li{
	display:inline-block;
	float:right;
	margin-left:2rem;	
}

footer ul li img{
	height:70px;
	width:auto;
}

main{
	width:100%;
	display:block;	
}

aside{
	width:100%;
	display:block;	
	padding:2rem;
	float:left;
	margin-top:4rem;
}

section{
	width:100%;
	float:left;
	padding:2rem;
}

section.minimal{
	padding:0.5rem 2rem;
}

section div,
aside div{
	margin:0 auto;
	display:block;
	max-width: 1280px;
	width:100%;
}

aside > div{
	display:grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-gap: 2rem;
}

aside div{
	width:100%;
}

aside .flow ul{
	margin-left:0px;
	list-style: none;
}

aside .form{
	grid-column: 2 / 4;
}

aside .form form{
	display:grid;
	grid-template-columns: 2fr 1fr;
}

aside .form form label{
	grid-column: 1 / 3;
}

aside .form form input{
	margin-bottom:0px;
}

label{
	font-size:var(--size-500);	
	margin-bottom:1rem;
	width:100%;
	float:left;
}

input,select{
	font-size:var(--size-500);
	font-family: 'Rubik', Georgia, serif;
}

select{
	background:#fff;
	-webkit-appearance: default-button;
}

input[type=text],
input[type=email],
input[type=name],
textarea,
select{
	width:100%;
	padding:1rem;
	border:1px solid #ccc;
	margin-bottom:1rem;
	font-size:1rem;
	font-family:'Rubik';
}

.button,
button,
input[type=submit]{
	display: inline-block;
	border-radius: 3px;
	padding: 7px 12px;
	border: 1px solid #063e8a;
	box-shadow: 0px 0px 5px #ccc;
	background-image: linear-gradient(#0c50b0, #063e8a);
	color:#fff;
	text-decoration: none;
	font-family: 'Rubik', Georgia, serif;
	cursor:pointer;
}

.button:hover,
button:hover,
input[type=submit]:hover{
	display: inline-block;
	border-radius: 3px;
	padding: 7px 12px;
	border: 1px solid #f0b435;
	box-shadow: 0px 0px 5px #ccc;
	background-image: linear-gradient(#60d3f6, #41c9f2);
	color:#333 !important;
	text-decoration: none;
	font-family: 'Rubik', Georgia, serif;
}

ul.staff{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	font-size:var(--size-400);
	grid-gap: 2rem;
	margin-left:0px;
	list-style: none;
}

ul.staff li{
	border-left:1px solid #ccc;
	padding:1rem;
	line-height:1;
}

ul.staff li a{
	display:block;
	color:#063e8a;
	text-decoration: none;
	float:left;
	width:100%;
}

ul.staff li.link {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #f3b83a 50%);
    -webkit-transition: background-position 0.3s;
    -moz-transition: background-position 0.3s;
    transition: background-position 0.3s;
}

ul.staff li.link:hover {
    background-position: -100% 0%;
}

ul.staff li.link:hover a{

}

ul.staff li em{
	font-size:var(--size-400);
}

ul.staff li span{
	font-size:var(--size-300);
	line-height:1.4;
	float:left;
	margin-top:1rem;
}

ul.timeline{
	max-width:1024px;
	margin:0 auto;
	
}

ul.timeline li{
	width:calc(50% + 5px);
	float:right;
	border-left:10px solid #ccc;
	position: relative;
}

ul.timeline li div{
	background:#fff;
	border:1px solid #ccc;
	border-left:none;
	display:block;
	margin:2rem 0;
	float:left;
	width:100%;
	padding:2rem;
	box-sizing: border-box;
	font-size:var(--size-400);
}

ul.timeline li div br{
	display:block;
}

ul.timeline li div strong{
	font-size:var(--size-500);
}

ul.timeline li div strong em{
	font-size:var(--size-400);
	margin-bottom:1rem;
	width:100%;
	display:block;
}

ul.timeline li div a.button{
	font-size:var(--size-400);
}

ul.timeline li:nth-child(odd) div{
	border-right:none;
	border-left:1px solid #ccc;
}

ul.timeline li:nth-child(odd){
	float:left;
	border-right:10px solid #ccc;
	border-left:none;
}

ul.timeline li .blob{
	background:#f0b435;
	border-radius: 50%;
	width:48px;
	height:48px;
	margin:0;
	padding:0;
	border:none;
	position:absolute;
	top:calc(50% - 24px);
	left:-29px;
	display:none;
}

ul.timeline li:nth-child(odd) .blob{
	right:-29px;
	left:auto;
}

ul.timeline li p{
	margin-top:1rem;
}

ul.timeline li img{
	width: 60px;
	height: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #777;
	position: absolute;
	top:calc(50% - 24px);
	left:-36px;
}

ul.timeline li:nth-child(odd) img{
	right:-36px;
	left:auto;
}

.card{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin:2rem auto;
}

.card img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.card .text{
	display:flex;
	align-items: center;
	justify-content: center;
}

.grid{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap:2rem;
}

.grid li .flow{
	padding:1rem;
}

.contact{
	display:grid;
	grid-template-columns: 1fr 2fr;
	grid-gap:2rem;
}

.posts{
	margin:4rem 0;
}

.posts li{
	margin-bottom:4rem;
	max-width:768px;
}

.hexagons{
	width:100%;
	float:left;
	background:#fff;
	position: relative;
	z-index:0;
	overflow:hidden;
}

.hexagons .economic,
.hexagons .social,
.hexagons .cultural{
	
}

.hexagons .economic{
	background:url('../images/hexagon-yellow.svg') center center no-repeat;
	background-size:100%;
	float:left;
	width:1000px;
	height:1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-250px;
	margin-left:-100px;
	z-index: 1000;
	position: relative;
}

.hexagons .economic div{
	padding:200px 240px;
}

.hexagons .cultural{
	background:url('../images/hexagon-green.svg') center center no-repeat;
	background-size:100%;
	float:right;
	width:1000px;
	height:1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-500px;
	margin-right:-120px;
	z-index:500;
	position: relative;
	text-align: right;
}

.hexagons .cultural div{
	padding:140px 280px;
}

.hexagons .social{
	background:url('../images/hexagon-blue.svg') center center no-repeat;
	background-size:100%;
	float:left;
	width:1000px;
	height:1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-450px;
	margin-left:-70px;
	margin-bottom:-200px;
}

.hexagons .social div{
	padding:140px 280px;
}

.hexagons h2{
	max-width:40ch;
}

.hexagons p{
	font-size:var(--size--300);
}

.hexagons ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-top:1rem;
}

.hexagons ul li{
	display:inline-block;
	margin-right:1rem;
}

.hexagons .cultural ul li{
	margin-left:1rem;
	margin-right:0px;
}

.hexagons ul li img{
	box-shadow: 0px 0px 10px #ccc;
	display: block;
}

.cta_logos{
	display:grid;
	grid-template-columns: auto auto;
	grid-gap:2rem;
}

.cta_logos ul{
	margin:0px;
	list-style:none;
}

.cta_logos ul li{
	display:inline-block;
	float:right;
	margin-left:2rem;
}

.cta_logos ul li img{
	height:100px;
	width:auto;
}

.cta_logos h2{
	line-height:100px;
	margin:0;
}


/* MODIFIERS */

.padding{
	padding:2rem;
}

.padding_top_bottom{
	padding:2rem 0;
}

.background_white{
	background:#fff;
}

.background_dark{
	background:#063e8a;	
}

.background_dark h1,
.background_dark h2,
.background_dark h3,
.background_dark p,
.background_dark label{
	color:#fff;
}

.background_dark a{
	color:#fff;
}

.background_dark a:hover{
	color:#41c9f2;
}

.border_grey{
	border:1px solid #ccc;
}

.border_top_white{
	border-top:1px solid #fff;
}

.border_bottom_white{
	border-bottom:1px solid #fff;
}

.shadow{
	box-shadow: 0px 0px 10px #ccc;
}

section.minimal div{
	display:grid;
	margin:0 auto;
	max-width:1280px;
	width:100%;
	grid-template-columns: 1fr 1fr;
}

section.minimal p{
	font-size:var(--size-300);
	max-width:100%;
}

section.minimal p a{
	text-decoration: none;
}

p.right{
	text-align: right;
}

ul.social_media li{
	display:inline-block;
	float:left;
	margin-right:2rem;
}

ul.tags{
	margin-top:1rem;
}

ul.tags li{
	border-radius: 3rem;
	padding:0.5rem 1rem;
	background:#063e8a;
	color:#fff;
	margin-right:1rem;
	margin-bottom:1rem;
	display:inline-block;
	font-size:var(--size-400);
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin:1rem 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.media{
	width:100%;
	max-width:100%;
	margin-top:4rem;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:2rem;
}

ul.media li{
	padding-bottom:1rem;
	margin-bottom:2rem;
	max-width:100%;
}

ul.media .video-container{
	float:right;
}

/* BREAKPOINTS */

@media screen and (max-width:1250px){
	header nav button{
		display:block;
		z-index:200000;
		position:absolute;
		top:100px;
		right:2rem;
	}
	header nav{
		
	}
	header nav.show{
		width:100%;
		height:100vh;
		background:#fff;
		z-index:2000;
		position: absolute;
		top:0px;
		left:0px;
		display:flex;
		align-items: center;
		justify-content: center;
	}
	header nav ul{
		float:none;
		display:none;
	}
	header nav.show ul{
		display:block;
		border-top:none;
		padding:0;
	}
	header nav.show ul li{
		max-width:100%;
	}
	header nav.show ul li:hover .arrow-up{
		display:none;
	}
	header nav.show ul li:hover ul,
	header nav.show ul li ul{
		display:block;
		background:#fff;
		position:relative;
		top:0px;
		left:0px;
		width:100%;
		box-shadow: none;
		text-align: center;
	}
	header nav.show ul li:hover ul li a,
	header nav.show ul li ul li a{
		color: #333;
	}
	header nav.show ul li:hover ul li a:hover,
	header nav.show ul li ul li a:hover{
		color: var(--yellow);
	}
	header nav ul li{
		width:100%;
		text-align: center;
		margin:1rem 0;
		line-height:1.4;
		font-size:var(--size-600);
	}
	ul.timeline li{
		float:left;
		width:calc(100% - 5px);
		border-left:10px solid #ccc;
		border-right: none;
	}
	ul.timeline li:nth-child(odd) div{
		border-right:1px solid #ccc;
		border-left:none;
	}
	ul.timeline li:nth-child(odd){
		float:left;
		border-left:10px solid #ccc;
		border-right:none;
	}
	ul.timeline li:nth-child(odd) img{
		left:-36px;
		right:auto;
	}
	.card{
		grid-template-columns: 1fr;
	}
	.card img{
		aspect-ratio: 1 / 1;
	}
	.contact{
		grid-template-columns: 1fr;
	}
	.hexagons ul li img{
		width:60px;
	}
	.cta_logos h2{
		font-size:var(--size-500);
	}
	.cta_logos ul li{
		margin-right:1rem;
	}
	.cta_logos ul li img{
		width:60px;
		height:auto;
	}
	ul.media{
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width:900px){
	header .logo .heading{
		font-size:2rem;
		line-height:3rem;
	}
	header .logo p{
		font-size:1rem;
		max-width:24ch;
	}
}

@media screen and (max-width:580px){
	header .logo{
		grid-template-columns: auto;
	}
	header .logo img{
		display:none;
	}
}